html{
    font-family: "Times New Roman",Times,Georgia,serif;
    letter-spacing: 1px;
    font-size: 24px;
}
.oppekava{
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
}
th{
    font-weight: normal;
    border-bottom: 1px solid rgba(211, 211, 211, 0.671);
    text-align: left;
    padding: 20px;
    padding-right: 40px;
}
.box{
    background-color: #ba0c2f;
    font-size: 32px;
    padding-left: 25px;
    font-style: italic;
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 2px;
}
.box:hover{
    background-color: #99112c;
}
.box>a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}
.fillForm{
    padding-left: 25px;
    background-color: lightgray;
    border: 1px solid black;
    margin-bottom: 30px;
}
.formInput{
    font-size: 24px;
}
th label{
    font-size: 20px;
}
.formInputDropdown{
    font-size: 16px;
}
#filler{
    width: 40%;
    font-size: 28px;
}
#taitja{
    font-size: 32px;
}
.downloadBtnTxt{
    background-color: #c71a3d;
    color: white;
}
#divv1{
    transition: all 2s ease-in-out;
}
#table1, #table2, #table3, #table4 {
    animation-name: animatsioon;
    animation-duration: 0.5s;
}
@keyframes animatsioon{
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}