body{
    background-color: #eeeeee;
}
.hello{
    justify-self: center;
    font-size: 26px;
}
.login_form{
    align-items: center;
    justify-content: center;
    grid-template-rows: 200px 100px 100px 100px 200px;
    display: grid;
    position: fixed;
    top: 150px;
    left: 40%;
    background: linear-gradient(to bottom, white 70%, lightgrey);
    width: 500px;
    height: 700px;
    border-radius: 15px;
    box-shadow: 5px 3px 15px rgba(0, 0, 0, 0.5);
}
.field{
    padding: 0;
    margin: 0;
    border: 0;
}
#email, #password{
    width: 300px;
    height: 29px;
}
.nice_email, .nice_password{
    display: flex;
    margin-top: 2px;

}
.human_logo, .password_logo{
    background-image: url("../images/avatar.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 5px 0px 0px 5px;
    border-right: 1px dashed black;
    width: 31px;
    height: 31px;
}
.password_logo{
    background-image: url("../images/lock.png");
}
input[type=text], input[type=password]{
    border: 1px solid black;
    border-left: none;
    border-radius: 0px 5px 5px 0px
}
input[type=text], input[type=password]:focus{
    outline:none;
}
.login{
    margin: 0; 
    border: 0;
    padding: 0;
    font-family: "Times New Roman",Times,Georgia,serif;
    font-style:italic;
    letter-spacing: 1px;
    font-size: 22px;
}
.login_btn{
    width: 335px;
    height: 45px;
    font-family: "Times New Roman",Times,Georgia,serif;
    font-size: 24px;
    font-style:normal;
    transition: 200ms;
    border: 1px solid black;
    border-radius: 5px;

    
}.login_btn:hover{
    cursor: pointer;
    outline: none;
    transition: 200ms;
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 5px;

}
a:visited{
    color: #7baedd;
}