html{
    padding: none;
    margin: none;
    border: none;
    font-family: "Times New Roman",Times,Georgia,serif;
    letter-spacing: 1px;
    font-size: 24px;
}

.links{
    padding: 1em;
    text-decoration: none;
    color: black;
}
.links::after{
    color: black;
}


a{
    color: blue;
    text-decoration: none;
}
a::after{
    color: blue;
}
.box{
    width: 100%;
    height: 100%;
    background-color: #ba0c2f;
    font-size: 32px;
    padding-left: 25px;
    color: white;
}
.fillForm{
    padding-left: 25px;
    width: 100%;
    margin: 0;
    background-color: lightgray;
    border: 1px solid black;
}
.formInput{
    font-size: 24px;
}

.mainContainer{
    display: grid;
    grid-template-columns: 300px auto 200px;
    grid-template-rows: 150px auto;
    grid-column-gap: 50px;
	grid-row-gap: 20px;
}

.login{
    margin: 10px;
    padding: 20px;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.logo{
    background-image: url("logo.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.sidebar{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.mainArea{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

ul{
    display: block;
    list-style-image: url("listItem.png");
}

.loginButton{
    padding-top: 10px;
    font-size: 24px;
    color: #ba0c2f;
    font-weight: 600;
}

.mainInfo{
    padding: 10px;
    background-color: #ba0c2f;
    color: white;
    font-size: 24px;
    font-style: italic;
}