html{
    padding: none;
    margin: none;
    border: none;
    font-family: "Times New Roman",Times,Georgia,serif;
    letter-spacing: 1px;
    font-size: 24px;
    background-color: #fae8ebda;
    background: linear-gradient(to bottom, white 0%, #fae8ebda 100% fixed);
}

h2{
    font-size: 30px;
    font-style: italic;
}

hr{
    border: 0;
    border-bottom: 0.5px solid #75142cc4;
}

.links{
    padding: 1em;
    text-decoration: none;
    color: black;
}

.links:hover{
    color: #ba0c2f;
}

.links::after{
    color: black;
}

.mainContainer{
    display: grid;
    grid-template-columns: 300px auto 200px;
    grid-template-rows: 100px auto;
    grid-column-gap: 0px;
	grid-row-gap: 0px;
    background-color: white;
    box-shadow: 0px 5px 10px #b87a8ac4;
}

.login{
    padding-top: 20px;
    padding-left: 0px;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    border-bottom: solid 0.5px #75142cc4;
    border-left: solid 0.5px #75142cc4;
}

.logo{
    background-image: url("images/TOISlogo.png");
    background-repeat: no-repeat;
    background-size: 500px;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    border-bottom: solid 0.5px #75142cc4;
    box-shadow: 0px 5px 10px #b87a8ac4;
}

.sidebar{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 0;
    margin: 0;
    border-right: solid 1px #75142cc4;
    box-shadow: 5px 0px 5px #b87a8ac4;
}

.mainArea{
    background-color: #dfced277;
    box-shadow: 5px 0px 5px #b87a8ac4;
}

.newsArea{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-left: 50px;
}

ul{
    padding: 0;
    font-size: 20px;
    display: block;
    list-style: inside url("images/listItem.png");
    border-top: solid 1px #75142cc4;
}

li{
    border-bottom: solid 1px #75142cc4;
    padding: 5px;
}

.loginButton{
    padding-left: 50px;
    font-size: 24px;
    color: #ba0c2f;
    font-weight: 600;
    text-decoration: none;
}

.loginButton:hover{
    color: #d44562;
}

.menuLabel{
    margin: 0;
    padding: 10px;
    background-color: #ba0c2f;
    color: white;
    font-size: 24px;
    font-style: italic;
}

.navMenu {
    margin: 0;
}

.news{
    font-size: 18px;
    display: flex;
    justify-content: left;
}

.newsContent{
    padding-left: 20px;
}

.newsLink{
    font-size: 18px;
    color: #ba0c2f;
    font-weight: 600;
}
