.menu-text{
    font-family: "Times New Roman",Times,Georgia,serif;
    font-size: 1.2vw;
    letter-spacing: 1px;
    text-decoration: none;

}
.a:visited{
    color: black;
    text-decoration: none;
}
.a{
    text-decoration: none;
}



.ribbon{
    width: 100%;
    aspect-ratio: 25/1;
    position: fixed;
    top:0;
    left: 0;
    background-color: rgb(235, 235, 235);
    display: grid;
    grid-template-columns: 30% 10% 15% 10%;
    /*grid-template-rows: 100px 100px 100px;*/
    box-shadow: 0px 2px 30px rgba(0, 0,0, 0.7);
}
.item{
    margin: none;
    padding: none;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 0.1vw solid black;
    transition: 300ms;

}
.home_logo{
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
    border-right: 0.1vw solid black;
}
#Logo:hover{
    background-color: white;
}

.item:hover{
    transition: 300ms;
    background-color: #dddddd
}
