@model TOIStest.Models.Vorm_1

@{
}
    <form>
        <div class="creator" id="create">

    <label class="control-label">Täitja nimi:</label>
    <input type="text" class="form-control" id="creator"/>
    <input type="submit" class="btn btn-primary" id="newForm" value="Loo uus"/>
        </div>
    </form>

    <script src="~/js/newButton.js" asp-append-version="true"></script>
