@model TOIStest.Models.Vorm_1

@{
}
    <form>
        <div class="creator" id="create">

    <label class="control-label">Täitja nimi:</label>
    <input type="text" class="form-control" id="creatorName"/>
    <label asp-for="nameEstonian" class="control-label">Õppekava nimetus:</label>
    <input type="text" asp-for="nameEstonian" class="form-control" id="creatorName"/>
    <input type="submit" class="btn btn-primary" id="createButton" value="Loo uus"/>
        </div>
    </form>
